.input-container {
  display: flex;
  flex-direction: column;
}

.input-box {
  height: 30px;
  margin-bottom: 10px;
}

.login-heading {
  margin-bottom: 0px;
  text-align: center;
}

.login-subheading {
  margin-bottom: 20px;
}

.passwordShow {
  position: relative;
  right: 20px;
  top: -35px;
}
