.input-container {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin-bottom: 10px;
}

.container {
  border: 1px solid black;
  width: 420px;
  margin: 10px auto;
  padding-left: 5px;
  height: 540px;
}

.container > h2 {
  padding-left: 15px;
}

.edit-preferences-button {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 30px;
}
