.input-container {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin-bottom: 10px;
}

.container {
  border: 1px solid black;
  width: 420px;
  margin: 10px auto;
  height: 540px;
}
