.job-details-container {
  width: 1000px;
  height: 270px;
  margin: 0 auto;
}

.job-details-row {
  display: flex;
  flex-direction: row;
}

.job-details-col {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}

.job-details-col > h2 {
  font-weight: 400;
}
