.title {
  text-align: center;
  margin: 10px;
  font-size: 40px;
}

.subTitle {
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 100;
}

.input-box-column {
  margin-bottom: 22px;
  height: 30px;
}

.input-box-row {
  margin-bottom: 22px;
  width: 250px;
  height: 30px;
  margin-top: 10px;
}

.register-main-container {
  margin: 0 auto;
  margin-top: 20px;
  width: 1200px;
  height: 600px;
  border: 1px solid black;
}

.register-form-container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.image-container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.input-container {
  margin: 0 auto;
  width: 390px;
  height: 500px;
}

.input-column {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  flex-direction: row;
}

.register-button {
  background-color: rgb(175, 216, 243);
  width: 390px;
  height: 35px;
  margin-bottom: 20px;
}
.login-button {
  background-color: rgb(181, 243, 175);
  width: 390px;
  height: 35px;
}
